.card-body {
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 1.5rem;
  background-color: #A5C4C9;
  color: #477480;
  border: .2rem solid #477480;
}

.fav-button {
  background-color: #BEB7A4;
}